.header {
  margin-left: 2rem;
}

.layout {
  width: 80%;
}

table {
  width: 100%;
}

button {
  margin: 1.5rem 0;
}

.ck-main {
  -webkit-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, 0.75);
  padding: 10px 10px;
  background-color: #9572d1;
  color: white;
  min-width: 125px;
}

.confirm {
  margin-top: 2.5rem;
}

mat-card {
  margin: 1rem 1rem;
  width: 95%;
}

mat-form-field {
  width: 100%;
}

#bottom {
  padding-bottom: 1rem;
}

#status {
  padding-top: 1rem;
}

#checkbox-align {
  text-align: center;
}
