<app-header
  [title]="headerTitle"
  [color]="headerColor"
  [icon]="headerIcon"
></app-header>
<div id="card-container" fxLayout fxLayoutAlign="center center">
  <div fxFlex="1 1 auto"></div>
  <div fxFlex="4 1 auto">
    <mat-card class="mat-elevation-z12">
      <mat-card-header>
        <mat-card-title
          >{{ volunteer.firstName }} {{ volunteer.lastName }}</mat-card-title
        >
        <mat-card-subtitle>{{ volunteer.familyID }}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-accordion>
          <!-- Volunteer Address-->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Volunteer Address</mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="space-between">
              <div fxLayout fxLayoutAlign="start center">
                <span class="text-layout">Address 1:</span>
                {{ volunteer.address1 }}
                <span *ngIf="!volunteer.address1"> N/A </span>
              </div>
              <div
                *ngIf="volunteer.address2"
                fxLayout
                fxLayoutAlign="start center"
              >
                <span class="text-layout">Address 2:</span>
                {{ volunteer.address2 }}
              </div>
              <div fxLayout fxLayoutAlign="start center">
                <span class="text-layout">City:</span>
                {{ volunteer.city }}
                <span *ngIf="!volunteer.city"> N/A </span>
              </div>
              <div fxLayout fxLayoutAlign="start center">
                <span class="text-layout">State:</span>
                {{ volunteer.state }}
                <span *ngIf="!volunteer.state"> N/A </span>
              </div>
              <div fxLayout fxLayoutAlign="start center">
                <span class="text-layout">Zipcode:</span>
                {{ volunteer.zipcode }}
                <span *ngIf="!volunteer.zipcode"> N/A </span>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Volunteer Available Mass Times -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Volunteer Available Mass Times
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-evenly">
              <div fxLayout="column">
                <p fxFlexAlign="end">
                  <span>Saturday: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isSaturday"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Sunday-Early: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isSundayEarly"
                  >
                  </mat-checkbox>
                </p>
              </div>
              <div fxLayout="column">
                <p fxFlexAlign="end">
                  <span>Sunday-Late: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isSundayLate"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Weekdays: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isWeekday"
                  >
                  </mat-checkbox>
                </p>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- Volunteer Stewardships -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Volunteer Stewardships </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row" fxLayoutAlign="space-evenly">
              <div fxLayout="column">
                <p fxFlexAlign="end">
                  <span>EMoHC: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isEMoHC">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Cantor: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isCantor"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Lector: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isLector"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Usher: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isUsher">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Server: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isServer"
                  >
                  </mat-checkbox>
                </p>
              </div>

              <div fxLayout="column">
                <p fxFlexAlign="end">
                  <span>Gifts: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isGifts">
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Gifts Child: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isGiftsChild"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Rosary: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isRosary"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Mass Co-ord: </span>
                  <mat-checkbox
                    [disabled]="true"
                    [checked]="volunteer.isMassCoord"
                  >
                  </mat-checkbox>
                </p>
                <p fxFlexAlign="end">
                  <span>Technology: </span>
                  <mat-checkbox [disabled]="true" [checked]="volunteer.isTech">
                  </mat-checkbox>
                </p>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- UnAvailable Dates -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Volunteer Dates UnAvailable </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let unDate of volunteer.dateUnAvailable">
                <span>{{ unDate | date }}</span>

                <span
                  ><button
                    mat-icon-button
                    color="warn"
                    (click)="onDeleteDateClicked(unDate, id)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button></span
                >
              </mat-list-item>
            </mat-list>
            <mat-action-row>
              <button mat-button color="primary" (click)="addUnAvailableDate()">
                Add Date UnAvailable
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>

        <div id="checkbox-layout" fxLayout fxLayoutAlign="space-evenly">
          <div>
            <span class="text-layout">Is Available:</span>
            <mat-checkbox
              [checked]="volunteer.isAvailable"
              disabled
            ></mat-checkbox>
          </div>
          <div>
            <span class="text-layout">Is Admin:</span>
            <mat-checkbox [checked]="volunteer.isAdmin" disabled></mat-checkbox>
          </div>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <div fxLayout fxLayoutAlign="space-evenly">
          <div>
            <button mat-stroked-button color="primary" routerLink="/volunteers">
              <mat-icon>arrow_back</mat-icon>
              Volunteers
            </button>
          </div>
          <div>
            <button
              mat-stroked-button
              color="accent"
              routerLink="/edit-volunteer/{{ id }}"
            >
              <mat-icon>edit</mat-icon>
              Edit
            </button>
          </div>
          <div>
            <button mat-stroked-button color="warn" (click)="onDeleteClicked()">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </div>
        </div>
      </mat-card-actions>
      <mat-card-footer>
        <div fxLayout fxLayoutAlign="space-evenly">
          <div>
            <span class="text-layout">Phone:</span>
            {{ volunteer.phone | phone }}
          </div>
          <div>
            <span class="text-layout">Email:</span> {{ volunteer.email }}
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="1 1 auto"></div>
</div>
