<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Trakr</h1>
    <span class="menu-spacer"></span>
    <a mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      Home</a
    >
    <a mat-button routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard</a
    >
    <a mat-button [matMenuTriggerFor]="volunteers">
      <mat-icon>people</mat-icon>
      Volunteers</a
    >
    <mat-menu #volunteers="matMenu">
      <a mat-menu-item routerLink="/volunteers">
        <mat-icon>table_row</mat-icon>
        Volunteers</a
      >
      <a mat-menu-item routerLink="/add-volunteer">
        <mat-icon>person_add</mat-icon>
        Add Volunteer</a
      >
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="familyIds">
      <mat-icon>family_restroom</mat-icon>
      Family IDs</a
    >
    <mat-menu #familyIds="matMenu">
      <a mat-menu-item routerLink="/familyIds">
        <mat-icon>family_restroom</mat-icon>
        Family ID's</a
      >
      <a mat-menu-item routerLink="/add-familyId">
        <mat-icon>add</mat-icon>
        Add Family ID</a
      >
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.toggle()">
        <mat-icon class="sidenav-icon">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()">
        <mat-icon class="sidenav-icon">dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item [matMenuTriggerFor]="volunteer">
        <mat-icon class="sidenav-icon">people</mat-icon>
        Volunteers</a
      >
      <mat-menu #volunteer="matMenu">
        <a mat-menu-item routerLink="/volunteers" (click)="sidenav.toggle()">
          <mat-icon>table_row</mat-icon>
          Volunteer Table</a
        >
        <a mat-menu-item routerLink="/add-volunteer" (click)="sidenav.toggle()">
          <mat-icon>person_add</mat-icon>
          Add Volunteer</a
        >
      </mat-menu>
      <a mat-list-item [matMenuTriggerFor]="familyId">
        <mat-icon class="sidenav-icon">family_restroom</mat-icon>
        Family ID's</a
      >
      <mat-menu #familyId="matMenu">
        <a mat-menu-item routerLink="/familyIds" (click)="sidenav.toggle()">
          <mat-icon>table_row</mat-icon>
          Family ID Table</a
        >
        <a mat-menu-item routerLink="/add-familyId" (click)="sidenav.toggle()">
          <mat-icon>add</mat-icon>
          Add Family ID</a
        >
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
