#card-container {
  margin-top: 1.5rem;
}

mat-card-content {
  padding-top: 0.5rem;
}

mat-card-actions {
  padding-top: 1rem;
}

mat-card-footer {
  padding: 1rem 0;
  background-color: #673ab7;
  color: #ffffff;
}

mat-accordion {
  padding-bottom: 1rem;
}

.text-layout {
  font-weight: bold;
  padding-right: 0.5rem;
}

#checkbox-layout {
  padding-top: 0.75rem;
}
