<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Trakr</h1>
    <span class="menu-spacer"></span>
    <a mat-button [routerLink]="'/'">Home</a>
    <a mat-button [routerLink]="'/dashboard'">Dashboard</a>
    <a mat-button [matMenuTriggerFor]="volunteers">Volunteers</a>
    <mat-menu #volunteers="matMenu">
      <a mat-menu-item routerLink="/volunteers">Volunteer</a>
      <a mat-menu-item routerLink="/add-volunteer">Add Volunteer</a>
    </mat-menu>
    <a mat-button [matMenuTriggerFor]="familyIds">Family IDs</a>
    <mat-menu #familyIds="matMenu">
      <a mat-menu-item routerLink="/familyIds">Family Ids</a>
      <a mat-menu-item routerLink="/add-familyId">Add Family ID</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.toggle()"> Home </a>
      <a mat-list-item routerLink="/dashboard" (click)="sidenav.toggle()">
        Dashboard
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
